<ion-header [translucent]="true">
    <ion-toolbar color="primary" *ngIf="!isSearchActive">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="true" menu="menuOnHomePage"></ion-menu-button>
        </ion-buttons>
        <ion-title>Messenger</ion-title>
        <ion-buttons slot="end" (click)="activateSearch()">
            <ion-button>
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary" *ngIf="isSearchActive">
        <ion-buttons slot="start">
            <ion-button (click)="deActivateSearch()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar id="contactsSearchBar"  placeholder="Search" [(ngModel)]="searchString"
                       (ionChange)="findChats()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
    <ion-list>
        <ion-item-sliding *ngFor="let chat of chats">
            <ion-item detail="false" [routerLink]="['/chats', chat.id]">
                <ion-avatar slot="start">
                    <ion-img [src]="chat.imageUrl ? chat.imageUrl : 'assets/icon/group.png'"></ion-img>
                </ion-avatar>
                <ion-label>
                    <h2>{{chat.name}}</h2>
                    <p *ngIf="chat.lastMessageSenderName && chat.lastMessageText">{{chat.lastMessageSenderName + ": " + chat.lastMessageText}}</p>
                </ion-label>
                <div slot="end" class="lastSection ion-no-margin">
                    <ion-note *ngIf="chat.lastMessageDate">{{lastMessageDate(chat.lastMessageDate)}}</ion-note>
                    <ion-badge class="userBadge" *ngIf="chat.unreadMessages && chat.unreadMessages > 0">{{chat.unreadMessages}}</ion-badge>
                </div>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="deleteChat(chat.id)" color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/contacts']">
            <ion-icon name="chatbox-ellipses"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
