#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.userBadge{
  border-radius: 90px;
  width: 24px;
  height: 24px;
  background: #E0E9F9;
  color: #789FE6;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  position: absolute;
  top: 31px;
}

.lastSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 73%;
  padding-top:2px;
}
